<div class="container">  <!-- この行を追加 -->
  <div class="row">      <!-- この行を追加 -->
   <div class="col-md-3">

<div>
  <h3>User info</h3>
  <%= image_tag @book.user.get_profile_image(100,100) %>
  <table class="table">
    <tbody>
      <tr>
        <th scope="row">name</th>
        <td><%= @book.user.name %></td>
      </tr>
      <tr>
        <th scope="row">introduction</th>
        <td><%= @book.user.introduction %></td>
      </tr>
    </tbody>
  </table>
  
  <%= link_to  edit_user_path(@book.user),class: 'nav-link' do %>
   <p><button type="button" class="btn btn-outline-secondary btn-block">
     <i class="fa-solid fa-user-cog"></i>
     </button>
     </p>
   <% end %>
</div>

<h1>New book</h1>
<%= form_with model: Book.new do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Opinion</h4>
  <%= f.text_area :body %>
  <p></p>
  <%= f.submit 'Create Book',class: "btn btn-success" %>
<% end %>
</div>

 <div class="col-md-8 offset-md-1">
<h1>Book detail</h1>
<table class="table">
  <tbody>
    <tr>
      <td>  <%= link_to user_path(@book.user) do %>
      <p></p><%= image_tag @book.user.get_profile_image(100,100) %>
        <p><%= @book.user.name %></p>
      <% end %>
      </td>
      <td>
        <%= link_to book_path(@book.id) do %>
      <%= @book.title %>
       <% end %>
       </td>
      <td><p><%= @book.body %></p></td>
      <td>  <% if @book.user == current_user %>
    <%= link_to edit_book_path(@book),class:"" do %>
    <button type="button" class="btn btn-success">Edit</button>
      <% end %>
  <% end %>
  </td>
  <td>
      <% if @book.user == current_user %>
    <%= link_to book_path(@book), method: :delete,class:"" do%>
    <button type="button" class="btn btn-danger">Destroy</button>
      <% end %>
  <% end %>
  </td>
  
    </tr>
  </tbody>
  </table>
  

</div>


</div> 
</div>
